<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>NTI</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4" style="text-align: center;font-weight: bold;">Forum</h1>
        <a href="/pots/new" class="btn btn-success mb-4">Pomoc Techniczna</a>
        <a href="/posts/talk" class="btn btn-success mb-4">Pogadanki</a>
        <a href="/posts/new" class="btn btn-success mb-4">Nowa kategoria</a>
        <a href="/posts/new" class="btn btn-success mb-4">testing</a>
        <a href="/posts/new" class="btn btn-success mb-4">Kategoria5</a>
        <a href="/posts/new" class="btn btn-success mb-4">Kategoria6</a>
        <a href="/posts/new" class="btn btn-success mb-4">kater</a>
        <a href="/categories/new" class="btn btn-success mb-4">NOWA KATEGORIA</a>
        <% pots.forEach(pot => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= pot.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        napisany dnia:
                        <%= pot.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= pot.description %></div>
                    <a href="/pots/<%= pot.slug %>" class="btn btn-primary">Czytaj</a>
                    <a href="/pots/edit/<%= pot.id %>" class="btn btn-info">Edytuj</a>
                    <form action="/pots/<%= pot.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger"style="background-color:#a57;">Usuń</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>